html, body {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #F7F6F8; */
  /* background-color: #f8f4dc; */
  background-color: #fcf4dc;
  font-family: 'M PLUS 1p', sans-serif;
}

#graph-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

h3{
  color: #495057;
}

.alert-secondary{
  background-color: #fff;
}

.alert-secondary .alert-link{
  color: #495057;
}